# Converters
# p2m
# aodt
# srt

# Generators
# python
# matlab

# Daily use folders
deepmimo_scenarios*

# Tests and Tutorials
deepmimo_scen/*
deepmimo_scen.zip
asu_campus_p2m.zip
asu_campus_p2m/*
*.bin

# Artifacts
site/
**/osm_root/*
**/blender_addons/*
manuals/*
*.pptx
*.mp4
*.npy
api_keys.py
.DS_Store
.vscode
.coverage
coverage.xml


# Development:
#   For wireless insite outputs
executables/*
dev/*
P2Ms/*
*.p2m
conversion_errors.json
scripts/b2_direct_upload.py
# scripts/pipeline_runner.py
logging_*.txt
**/.ipynb_checkpoints/
aodt_scripts/*
RT_SOURCES/*
visibility/*
path_trim_plots/*
pipeline_runners/

# Others
building_*
old/*
keep_for_future/*
ai-ran/*

# Documentation
docs/_build/
docs/api/_autosummary/
fidelity/docs/
docs/manual_full.ipynb

# Gitignore Defaults
__pycache__/
**/__pycache__/*
**/.DS_Store
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.vscode
*.mp4

*:Zone.Identifier
